* {
  box-sizing: border-box;
}
/* all the list item will be turn off*/
/* li {
  list-style-type: none;
} */
/*this will take the underline off on all my links*/
a {
  text-decoration: none;
}
.analytichead-left {
  float:left;
  /* width: 50px; */
  height: 100px;
  /* display: inline-block; */
}

.analytichead-right {
  float: right;
  /* width: 50px; */
  height: 100px;
  /* display: inline-block; */
}
/*this this out */
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

.main-container {
  display: block;
  clear: both;
}


.date-right {
  display: flex;
  float: right;
  /* width: 5px; */
}

.chart-image-container {
  width: 100px;
  display: flex;
}

.returnbutton {
    background-color: blue    ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
overview-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

@@media query {

}
